body {
	margin: -10px 5px 0px -10px;
	font-family: Consolas;
	background: url(background.jpg);
}

.main-container {
	height: 80vh;
	margin: 10px;
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 40px 125px auto auto 40px;
	column-gap: 5px;
	row-gap: 5px;
	grid-template-areas: 
		"connection-type-block url-block"
		"options-block response-block"
		"headers-block response-block"
		"body-block response-block"
		"send-button-block response-block";
}

.block {
	padding: 10px;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF #808080 #808080 #FFFFFF;
}

.label {

}

.url-block { 
	grid-area: url-block;
	display: grid;
	grid-template-columns: 35px 50px auto;
	column-gap: 10px;
}

.url-label {
	display: inline-block;
}

.url-input-wrapper {
	display: inline-block;
}

.url-input {
	width: 100%;
	margin:-3px;
}

.connection-type-block { 
	grid-area: connection-type-block;
}

.response-block { 
	grid-area: response-block;
	grid-template-rows: 20px auto;
	grid-template-columns: auto 20px;
	grid-template-areas: 
		"label error-sign"
		"response response";
	row-gap: 10px;
	column-gap: 10px;
	display: grid;
}

.response-block>.label {
	grid-area: label;
}

.error-sign {
	grid-area: error-sign;
	background: url(error.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px
}

.response-content-wrapper {
	grid-area: response;
	border: 1px solid gray;
	width: 100%;
	height: 100%;
	background: white;
	overflow: scroll;
	position: relative;
}

.response-content {
	position: absolute;
	white-space: pre;
	height: 100%;
	min-width: 100%;
}

.options-block {
	grid-area: options-block;
}

.option-row {
	margin-bottom: 2px;
	display: grid;
	grid-template-columns: auto 20px;
	column-gap: 10px;
}

.option-name {
	text-align: left;
}

.option-value: {
	float: right;
}

.headers-block {
	grid-area: headers-block;
}

.body-block { 
	grid-area: body-block;
}

.input-block {
	display: grid;
	grid-template-rows: 30px auto;
}

.input-wrapper {
	height: 100%; 
}

.input-wrapper>.input {
	width: 100%;
	height: 100%;
	resize: none;
	margin:-3px;
	white-space: nowrap;
}

.send-button-block { 
	cursor: pointer;
	grid-area: send-button-block;
}

.send-button {
	width: 100%;
	height: 100%;
	display: table;
}

.send-button-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* debug */

button:focus{
  outline:none;
}
.window {
	width: 90%;
	background:#C0C0C0;
	border-width:1px;
	border-color:#FFFFFF #808080 #808080 #FFFFFF;
	border-style:solid;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding:1px;
}
.window div.title {
	height:18px;
	width:100%;
	background:#000080;
	color:#FFF;
}

.window p.title {
	margin:2px 0 0 1px;
	float:left;
	font-weight:bold;
	font-size:11px;
}
.window .title button {
	/*position:absolute;
	right:3px;
	top:3px;*/
	margin:2px 2px 2px 0;
	float:right;
	width:14px;
	height:13.5px;
	background:#C0C0C0;
	border-width:1px;
	border-color:#FFFFFF #808080 #808080 #FFFFFF;
	padding:0;
	font-size:9px;
	font-weight:bold;
	font-family:Tahoma;
	text-align:center;
	focus:none;
}
div.body {
	padding:13px 12px 12px;
	height:100%;
	width:calc(100% - 26px);
	display:inline-block;
}
div.body p {
	font-family:"MS Sans Serif";
	font-size:11px;
}
div.body button {
	font-family:"MS Sans Serif";
	font-size:11px;
	outline:1px solid #000000;
	background:#C0C0C0;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF #808080 #808080 #FFFFFF;
	padding:4px 10px;
	margin:20px auto 3px;
	display:block;
	position:relative;
	bottom:0px;
}

.block {
	background-color: #e8e8e8;
}