body {
	margin: -10px 5px 0px -10px;
	font-family: Consolas;
}

.main-container {
	margin: 10px;
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 40px 300px 300px 40px;
	column-gap: 10px;
	row-gap: 10px;
	grid-template-areas: 
		"connection-type-block url-block"
		"headers-block response-block"
		"body-block response-block"
		"send-button-block response-block";
}

.block {
	padding: 10px;
}

.url-block { 
	grid-area: url-block;
	display: grid;
	grid-template-columns: 50px auto ;
}

.url-label {
	display: inline-block;
}

.url-input-wrapper {
	display: inline-block;
}

.url-input {
	width: 100%;
	margin:-3px;
}

.connection-type-block { 
	grid-area: connection-type-block;
}

.response-block { 
	grid-area: response-block;
}

.headers-block {
	grid-area: headers-block;
}

.body-block { 
	grid-area: body-block;
}

.send-button-block { 
	grid-area: send-button-block;
}

/* debug */

.block {
	background-color: #ffaaaa;
}